services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3005:80"
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8100:8100"
    environment:
      - PORT=8100
    volumes:
      - ./backend/data:/app/data
    restart: always
